#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Filter Driver for the TailLight Device (Framework Version)"
#define VER_INTERNALNAME_STR        "TailLight.sys"
#define VER_ORIGINALFILENAME_STR    "TailLight.sys"

#include "common.ver"

#include "messages.rc"

TailLightWMI MOFDATA TailLight.bmf
